# Toolchain
# Goland project folder
.idea/
# Visual Studio Code
.vscode/
# emacs/vim
GPATH
GRTAGS
GTAGS
TAGS
tags
# mac
.DS_Store

# debug
testkeylog/
*.log
*.pcap

#compiled
bin/

#backups
*.save
*.bak

#ssh key
id_rsa
id_rsa.pub

.vagrant/

Vagrantfile

Pipfile
Pipfile.lock
